* {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
    /* Limit the width of the container to 1100px,
    add a bit of bottom padding, 
    and then center it horizontally on the page.*/
  .container {
    max-width: 1100px;
    padding: 10px;
    margin: 0, auto;
    font-family: 'Roboto', sans-serif;
  }

.col {
  margin: 10px;
  min-height: 250px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 5px;
}

  .box-1 {
    background-color: #093145;
  }
  
  .box-2 {
    background-color: #3C6478;
  }
  
  .box-3 {
    background-color: #107896;
  }
  
  .box-4 {
    background-color: #829356;
  }
  
  .box-5 {
    background-color: #C2571A;
  }
  
  .box-6 {
    background-color: #9A2617;
  }

  body {
    margin: 0 auto;
    max-width: 1024px;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  a {
    text-decoration: none;
  }

  nav {
    font-family: "Roboto", Arial, Verdana;
    font-weight: 400;
    letter-spacing: .05em;
    background-color: #829356;
    padding: 25px;
  }

  h1, .top-nav {
      text-align: center;
  }

  .top-nav, .top-nav li {
    width: 100%; 

  }

  h1, a, .top-nav a {
    color: #000;

  }

  .top-nav {
    margin-top: 30px;
  }

  .top-nav li {
    padding: 10px 0;
    margin: 5px auto;
    background-color: #fff;
  }

  .top-nav a {
    text-transform: uppercase;
  }



  /* Media Queries   */


/*Tablet Size*/
  @media (min-width: 768px) {
    .top-nav {
      margin-top: 0;
    }

    .top-nav li {
      display: inline-block;
      width: auto;
      margin-right: 15px;
      background-color: transparent;
    }

    /*  .top-nav li:last-child removes the margin-right on the last li element inside of the ul with the class of .top-nav,
         so that the nav links stay perfectly centered in the browser.
         added margin-right: 15px to give the li elements a bit of space between each other.*/
    .top-nav li:last-child {
      margin-right: 0;
    }

    .top-nav a {
      color: #fff;
    }
  }

  /*Made the nav element the flex parent by adding display: flex;. 
    Moved the name and navigation to opposite sides of the browser by adding justify-content: space-between;. 
    Vertically centered the name and navigation by adding align-items: center;. 
    Laptop Size*/
  @media (min-width: 1024px) {
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

/* Removed the width: 100%; we have set on the ul and li elements by changing to width: initial;. 
   Removed the 16px bottom margin from by using margin-bottom: 0;.*/

    .top-nav, .top-nav li {
      width: initial;
      margin-bottom: 0;
    }
  }