* {
    box-sizing: border-box;
  }

  body {
    margin: 0 auto;
    max-width: 1024px;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  a {
    text-decoration: none;
  }

  nav {
    font-family: "Roboto", Arial, Verdana;
    font-weight: 400;
    letter-spacing: .05em;
    background-color: #829356;
    padding: 25px;
  }